{% load static %}
		
        <!-- #header start -->
		<header id="header" class="main-header header-sticky header-sticky-smart header-style-07 text-uppercase bg-white">
			<div class="header-wrapper sticky-area">
				<div class="container">
					<nav class="navbar navbar-expand-xl">

                    {% comment %} MOBILE {% endcomment %}
						{% comment %} <div class="header-mobile d-flex d-xl-none flex-fill justify-content-between align-items-center">
							<div class="navbar-toggler toggle-icon" data-toggle="collapse"
							     data-target="#navbar-main-menu">
								<span></span>
							</div>
							<a class="navbar-brand navbar-brand-mobile" href="home-jobs.html">
								<img src="../../images/light-green-logo.png" alt="The dir">
							</a>
							<a class="mobile-button-search" href="#search-popup"
							   data-gtf-mfp="true"
							   data-mfp-options='{"type":"inline","mainClass":"mfp-move-from-top mfp-align-top search-popup-bg","closeOnBgClick":false,"showCloseBtn":false}'><i
									class="far fa-search"></i></a>
						</div> {% endcomment %}

						<div class="collapse navbar-collapse d-xl-flex align-items-center" id="navbar-main-menu">
							<a class="navbar-brand d-none d-xl-block mr-0 mr-xl-10" href="{% url 'directory:home' %}">
								FIND A TAX PREPARER
							</a>
							<ul class="navbar-nav">


                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" href="#">Pages
                                        <span class="caret"><i
                                                class="fas fa-angle-down"></i></span>
                                    </a>
                                    <div class="sub-menu x-menu-mega x-animated x-fadeInUp width-500">
                                        <div class="container">
                                            <div class="row w-100">
                                                <div class="col-lg-6">
                                                    <ul class="mega-menu-col">
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-about.html">
                                                            about</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-contact.html">
                                                            contact</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-faqs.html">
                                                            faqs</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-how-it-work.html">
                                                            how it work</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-pricing-plan.html">
                                                            pricing plan</a></li>

                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <ul class="mega-menu-col">
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-submit-listing.html">submit
                                                            listing</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-terms-and-condition.html">Term
                                                            and condition</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-typography.html">
                                                            typography</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-common-elements.html">
                                                            Common elements</a></li>
                                                        <li class="nav-item"><a class="nav-link"
                                                                                href="page-privacy-policy.html">
                                                            privacy
                                                            policy</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> {% endcomment %}


                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'directory:directory-list' %}">Directory</a>
                                </li>

                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#">By State <span class="caret"><i
                                            class="fas fa-angle-down"></i></span></a>
                                    <ul class="sub-menu x-animated x-fadeInUp">
                                        <li class="nav-item"><a class="nav-link" href="../../index.html">main</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../../demo/automotive-service/home-automotive-services.html">
                                            automotive service</a></li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../../demo/food-and-restaurant/home-food-and-restaurant.html">
                                            food and restaurant</a></li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../../demo/health-and-medical/home-health-and-medical.html">
                                            health and medical</a></li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../../demo/hotel/home-hotels.html">hotel</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../../demo/job/home-jobs.html">jobs</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../../demo/service-finder/home-services-finder.html">
                                            service finder</a></li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="../../demo/shopping/home-shopping.html">
                                            shopping</a></li>
                                    </ul>
                                </li>
                            </ul>

                            
							<div class="header-customize justify-content-end align-items-center d-none d-xl-flex ml-auto">
								<div class="header-customize-item">
									<a href="#login-popup" class="link text-uppercase" data-gtf-mfp="true"
									   data-mfp-options='{"type":"inline"}'>
										<svg class="icon icon-user-circle-o">
											<use xlink:href="#icon-user-circle-o"></use>
										</svg>
										Log in</a>
								</div>
								<div class="header-customize-item language">
									<div class="dropdown show">
									</div>
								</div>
								<div class="header-customize-item button">
									<a href="page-submit-listing.html" class="btn btn-outline-dark btn-icon-right text-uppercase">Post a
										job <i
												class="far fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- #header end -->