{% extends 'base.html' %} 
{% load static %}

{% block content  %}





<!-- content-wrapper start -->
<div class="content-wrap">
    <section class="banner">
        <div class="container">
            <div class="banner-content">
                <div class="heading">
                    <h1 class="text-white lh-1 mb-3 text-uppercase">
                        <span class="d-block">FIND OUT IF YOUR ACCOUNTANT</span>
                        <span class="d-block font-weight-light">HAS THEIR PTIN</span>
                    </h1>
                    <p class="font-size-h5 lh-12 mb-0">
                        Search Below for Over 700,000 CPAs, Enrolled Agents & Registered Tax Pros
                    </p>
                </div>
                <!-- search starts -->
                <div class="form-search">
                    <form action="{% url 'directory:search_results' %}" method="get">
                        <div class="row align-items-end">
                            <div class=" col-xl-6 mb-4 mb-xl-0">
                                <label for="key-word"
                                        class="text-uppercase text-white font-weight-bold">Accountants Name:</label>
                                     <div class="input-group dropdown show bg-white rounded">
                                        <input type="search" autocomplete="off" name="q"
                                                class="form-control border-0 form-control-lg"
                                                placeholder="Name or company" 
                                                {% comment %} data-toggle="dropdown" {% endcomment %}
                                                aria-haspopup="true">
                                    </div>
                            </div>

                            <div class=" col-xl-2">
                                <button type="submit"
                                        class="btn btn-primary font-weight-bold font-size-h5 btn-block btn-icon-left btn-lg lh-16">
                                    <i class="fal fa-search"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--form ends-->



            </div>
        </div>
    </section>
</div>
<!-- .content-wrapper end -->



{% endblock content %}